<div class="contenedorLogin">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title class="titulo">Registro de animales</mat-card-title>
    </mat-card-header>

    <form>
      <mat-card-content class="contenido_card">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Raza</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Edad</mat-label>
          <input matInput>
        </mat-form-field><br>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Color</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Peso(kgs)</mat-label>
          <input matInput>
        </mat-form-field><br>

        <mat-radio-group aria-label="Sexo" >
          <mat-radio-button value="1">Macho</mat-radio-button>
          <mat-radio-button value="2" class="radio">Hembra</mat-radio-button>
        </mat-radio-group><br>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Estado</mat-label>
          <input matInput aria-disabled="true" readonly value="Disponible">
        </mat-form-field><br>

      </mat-card-content>

      <button mat-raised-button>Registrar</button>

    </form>
  </mat-card>
</div>


